@page "/CircleCeption"

<div class="loading-container" >
	<div class="circle-ception-container" >
		<div class="circle-ception circle-ception-layer-8" >
			<div class="circle-ception-cover" /> 
		</div>
		<div class="circle-ception circle-ception-layer-7" >
			<div class="circle-ception-cover" /> 
		</div>
		<div class="circle-ception circle-ception-layer-6" >
			<div class="circle-ception-cover" />
		</div>
		<div class="circle-ception circle-ception-layer-5" >
			<div class="circle-ception-cover" />
		</div>
		<div class="circle-ception circle-ception-layer-4" >
			<div class="circle-ception-cover" />
		</div>
		<div class="circle-ception circle-ception-layer-3" >
			<div class="circle-ception-cover" />
		</div>
		<div class="circle-ception circle-ception-layer-2" >
			<div class="circle-ception-cover" />
		</div>
		<div class="circle-ception circle-ception-layer-1" >
			<div class="circle-ception-cover" />
		</div>
	</div>
</div>
