@page "/CircleCircle"

<div class="loading-container">
	<div class="circle-circle-container">
		<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
			<circle cx="50" cy="50" r="50" class="cc-outer-circle"/>

				<line x1="0" y1="50" x2="100" y2="50" class="cc-inner-line circle-circle cc-1"/>
				<line x1="0" y1="50" x2="100" y2="50" class="cc-inner-line circle-circle cc-2"/>
				<line x1="0" y1="50" x2="100" y2="50" class="cc-inner-line circle-circle cc-3"/>
				<line x1="0" y1="50" x2="100" y2="50" class="cc-inner-line circle-circle cc-4"/>
				<line x1="0" y1="50" x2="100" y2="50" class="cc-inner-line circle-circle cc-5"/>
				<line x1="0" y1="50" x2="100" y2="50" class="cc-inner-line circle-circle cc-6"/>
				<line x1="0" y1="50" x2="100" y2="50" class="cc-inner-line circle-circle cc-7"/>
				<line x1="0" y1="50" x2="100" y2="50" class="cc-inner-line circle-circle cc-8"/>
				<g class="cc-1 circle-circle"><circle cx="5" cy="50" r="5" class="cc-inner-circle cc-circle-1"/></g>
				<g class="cc-2 circle-circle"><circle cx="5" cy="50" r="5" class="cc-inner-circle cc-circle-2"/></g>
				<g class="cc-3 circle-circle"><circle cx="5" cy="50" r="5" class="cc-inner-circle cc-circle-3"/></g>
				<g class="cc-4 circle-circle"><circle cx="5" cy="50" r="5" class="cc-inner-circle cc-circle-4"/></g>
				<g class="cc-5 circle-circle"><circle cx="5" cy="50" r="5" class="cc-inner-circle cc-circle-5"/></g>
				<g class="cc-6 circle-circle"><circle cx="5" cy="50" r="5" class="cc-inner-circle cc-circle-6"/></g>
				<g class="cc-7 circle-circle"><circle cx="5" cy="50" r="5" class="cc-inner-circle cc-circle-7"/></g>
				<g class="cc-8 circle-circle"><circle cx="5" cy="50" r="5" class="cc-inner-circle cc-circle-8"/></g>
		</svg>
	</div>
</div>