@page "/DumpTruck"

<div class="loading-container">
	<div class="dump-truck-container">
		<div class="boulders boulders-1">
			<svg class="boulder" xmlns="http://www.w3.org/2000/svg" width="75" height="75" viewBox="0 0 523.82241 259.58213">
				<path class="boulder-1" d="M430,931.5c0,29.40212-9.76847,40.87019-41,56.5-19.51353,9.76554-53.90871,30-79.5,30-23.75931,0-60.83435,8.52157-79.5,0-33.61722-15.34753-41-55.78281-41-86.5,0-23.88631,31.06879-32.84658,53-53.5s21.72484-37,55-37,75.31879,19.34658,97,40S430,907.61368,430,931.5Z" transform="translate(-69.17358 -791.1206)" />
			</svg>
		</div>
		<div class="boulders boulders-2">
			<svg class="boulder" xmlns="http://www.w3.org/2000/svg" width="75" height="75" viewBox="0 0 523.82241 259.58213">
				<path class="boulder-2" d="M96,862c7.17535,16.1161,25.06681,34.05468,46,35,13.0791.59064,28.43746,3.67066,42.46475-2.57468C197.48787,888.62705,221.84847,891.22611,230,882c14.68107-16.61641,10.49628-37.16307,3-54-5.82926-13.09274-28.64114-20.81677-45.70254-26.78534s-20.93753-14.97893-39.17655-6.8584S125.84376,807.38817,119,824,90.17074,848.90726,96,862Z" transform="translate(-69.17358 -791.1206)" />
			</svg>
		</div>
		<div class="boulders boulders-3">
			<svg class="boulder" xmlns="http://www.w3.org/2000/svg" width="75" height="75" viewBox="0 0 523.82241 259.58213">
				<path class="boulder-3" d="M105,906c-9.44137,4.20357-11.45755,18.07637-16.3768,28.3768C85.14546,941.65886,77.39152,944.33019,77,953c-.59064,13.0791,7.30046,19.25993,8,24,5.79827,13.02313-23.22611,20.12379-14,28.27532,8.30821,7.34054,21.18167,2.44161,36,2.72468s31.58153,5.74814,40,2c13.09274-5.82926,14.94162-3.9386,20.91019-21S170.12054,958.239,162,940s4.61183-31.15624-12-38S118.09274,900.17074,105,906Z" transform="translate(-69.17358 -791.1206)" />
			</svg>
		</div>

		<div class="dump-truck">  
			<svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 1126 571" class="dump-truck">
				<g id="Bed" class="dump-truck-bed">
					<path class="dump-truck-yellow" d="M398,380l93-94h626l66-77h311v32s-161-1-213,0-76,49-76,49L1072,559,421,423Z" transform="translate(-398 -209)" />
					<path class="dump-truck-shaddow-1" d="M398,380l670,134s93.30237-181.2663,120.15119-232.63315S1292.18564,240.78489,1281,241c-52,1-76,49-76,49L1072,559,421,423Z" transform="translate(-398 -209)" />
					<polygon class="dump-truck-shaddow-2" points="565.418 284.084 656 107 610 107 522.888 275.578 565.418 284.084" />
					<polygon class="dump-truck-shaddow-1" points="586.283 288.257 679 107 633 107 543.734 279.747 586.283 288.257" />
					<polygon class="dump-truck-shaddow-2" points="429.339 256.868 506 107 460 107 386.938 248.388 429.339 256.868" />
					<polygon class="dump-truck-shaddow-1" points="450.205 261.041 529 107 483 107 407.784 252.557 450.205 261.041" />
					<polygon class="dump-truck-shaddow-2" points="293.261 229.652 356 107 310 107 250.989 221.198 293.261 229.652" />
					<polygon class="dump-truck-shaddow-1" points="314.126 233.825 379 107 333 107 271.834 225.367 314.126 233.825" />
					<polygon class="dump-truck-shaddow-2" points="157.182 202.436 206 107 160 107 115.039 194.008 157.182 202.436" />
					<polygon class="dump-truck-shaddow-1" points="178.048 206.61 229 107 183 107 135.885 198.177 178.048 206.61" />
				</g>
				<g id="Cab" class="dump-truck-cab">
					<polygon class="dump-truck-yellow" points="751 221 773.569 221 825 114 857 187 1018 187 1018 221 1096 221 1096 246.346 750 246 751 221" />
					<rect class="dump-truck-yellow" x="1012" y="393" width="114" height="40" />
					<path d="M1223,323l33-65h115a16.87818,16.87818,0,0,1,16,14c3,14,29,124,29,124H1255Z" transform="translate(-398 -209)" />
					<path class="dump-truck-glass" d="M1249,317c2-5,18.267-36.53835,18.267-36.53835A13.56638,13.56638,0,0,1,1279.31969,273H1364s11,0,13.30435,8.15942c2.11659,9.87743,22.0136,93.39554,22.35463,95.61806S1399.3756,380,1397.6878,380H1277c-5,0-7-5-7-5l-21-48A14.817,14.817,0,0,1,1249,317Z" transform="translate(-398 -209)" />
					<rect x="897" y="58" width="10" height="119" />
					<rect class="dump-truck-rail" x="1012.5" y="154.5" width="65" height="76" />
					<rect class="dump-truck-rail" x="947.5" y="154.5" width="65" height="76" />
					<rect class="dump-truck-rail" x="882.5" y="154.5" width="65" height="76" />
					<path class="dump-truck-rail" d="M1215.5,439.5h65v-76h-46c-19,0-19,19-19,19Z" transform="translate(-398 -209)" />
					<polygon class="dump-truck-yellow" points="656 393 1096 393 1096 221 751 221 656 393" />
					<path class="dump-truck-shaddow-1" d="M1382.18042,455.23425l-230.0752-.23016A185.2823,185.2823,0,0,0,1086.791,642h360.418a185.27723,185.27723,0,0,0-65.02856-186.76575Z" transform="translate(-398 -209)" />
					<rect class="dump-truck-shaddow-1" x="407" y="328" width="400" height="70" />
					<rect class="dump-truck-shaddow-2" x="407" y="398" width="400" height="35" />
					<path class="dump-truck-yellow" d="M1054.3472,518h-52.6944a20,20,0,0,0-17.78745,10.85632l-28.27288,55a20,20,0,0,0,0,18.28736l28.27288,55A20,20,0,0,0,1001.6528,668h52.6944a20,20,0,0,0,17.78745-10.85632l28.27288-55a20,20,0,0,0,0-18.28736l-28.27288-55A20,20,0,0,0,1054.3472,518Z" transform="translate(-398 -209)" />
				</g>
				<g class="dump-truck-wheel dump-truck-wheel-left">
					<path class="dump-truck-tire" d="M892,649.14658V609.8043l-17.39366-10.04221q-1.25739-5.65833-2.97058-11.13507l9.84133-17.04563L861.806,537.51H842.18719q-4.10885-4.49707-8.60574-8.61547v-19.225L799.51,489.99834l-16.51467,9.53474q-6.12916-1.95683-12.49937-3.33942L761.14658,480H721.8043l-9.34943,16.19366q-6.62085,1.4349-12.99089,3.499l-15.88253-9.16975L649.51,510.19405v18.56957q-5.01912,4.58583-9.56394,9.65493H621.66948L601.99834,572.49l9.31671,16.13706q-2.00169,6.38486-3.38264,13.02778L592,610.85342V650.1957l16.45492,9.50023q1.43634,6.34913,3.45577,12.46249l-9.38778,16.26013L622.194,722.49h19.54627q4.1488,4.44675,8.67829,8.51494v19.32562L684.49,770.00166l17.32725-10.00385q5.47872,1.66244,11.14474,2.86973L722.85342,780H762.1957l10.19506-17.65831q5.38853-1.24884,10.60461-2.9239l17.42324,10.0593L834.49,749.806V729.21042q3.92961-3.66643,7.5664-7.629h20.27409l19.67114-34.07154L871.79181,669.826q1.61787-5.23091,2.81453-10.63721Z" transform="translate(-398 -209)" />
					<path class="dump-truck-yellow" d="M742.52456,563.905A65.57047,65.57047,0,1,0,808.095,629.47544,65.57047,65.57047,0,0,0,742.52456,563.905Zm.52457,79.20912A13.11409,13.11409,0,1,1,756.16322,630,13.11409,13.11409,0,0,1,743.04913,643.11409Z" transform="translate(-398 -209)" />
				</g>
				<g class="dump-truck-wheel dump-truck-wheel-right">
					<path class="dump-truck-tire" d="M1417,649.14658V609.8043l-17.39366-10.04221q-1.25739-5.65833-2.97058-11.13507l9.84133-17.04563L1386.806,537.51h-19.61876q-4.10885-4.49707-8.60574-8.61547v-19.225L1324.51,489.99834l-16.51467,9.53474q-6.12917-1.95683-12.49937-3.33942L1286.14658,480H1246.8043l-9.34943,16.19366q-6.62085,1.4349-12.99089,3.499l-15.88253-9.16975L1174.51,510.19405v18.56957q-5.01912,4.58583-9.56394,9.65493h-18.27662L1126.99834,572.49l9.31671,16.13706q-2.00169,6.38486-3.38264,13.02778L1117,610.85342V650.1957l16.45492,9.50023q1.43634,6.34913,3.45577,12.46249l-9.38778,16.26013L1147.19405,722.49h19.54627q4.14881,4.44675,8.67829,8.51494v19.32562L1209.49,770.00166l17.32725-10.00385q5.47872,1.66244,11.14474,2.86973L1247.85342,780h39.34228l10.19506-17.65831q5.38852-1.24884,10.60461-2.9239l17.42324,10.0593L1359.49,749.806V729.21042q3.92961-3.66643,7.5664-7.629h20.27409l19.67114-34.07154L1396.79181,669.826q1.61787-5.23091,2.81453-10.63721Z" transform="translate(-398 -209)" />
					<path class="dump-truck-yellow" d="M1267.52456,563.905a65.57047,65.57047,0,1,0,65.57047,65.57047A65.57047,65.57047,0,0,0,1267.52456,563.905Zm.52457,79.20912A13.11409,13.11409,0,1,1,1281.16322,630,13.11409,13.11409,0,0,1,1268.04913,643.11409Z" transform="translate(-398 -209)" />
				</g>
			</svg>
		</div>
	</div>
</div>
