@page "/Loading"

<h1>CSS Animated Loading Icons</h1>

<LoadingIconCard Title="CAT Dump Truck" Link="DumpTruck">
	<CameronAnderson.Pages.LoadingIcons.DumpTruck />
</LoadingIconCard>

<LoadingIconCard Title="Record" Link="Record" IsOnRight=true>
	<CameronAnderson.Pages.LoadingIcons.Record />
</LoadingIconCard>

<LoadingIconCard Title="Square Ception" Link="SquareCeption">
	<CameronAnderson.Pages.LoadingIcons.SquareCeption />
</LoadingIconCard>

<LoadingIconCard Title="Circle Ception" Link="CircleCeption" IsOnRight=true>
	<CameronAnderson.Pages.LoadingIcons.CircleCeption />
</LoadingIconCard>

<LoadingIconCard Title="Light Separated Triangle" Link="LightSeparatedTriangle">
	<CameronAnderson.Pages.LoadingIcons.LightSeparatedTriangle />
</LoadingIconCard>
 
<LoadingIconCard Title="Circle Circle" Link="CircleCircle" IsOnRight=true>
	<CameronAnderson.Pages.LoadingIcons.CircleCircle />
</LoadingIconCard>

<LoadingIconCard Title="Fibonacci" Link="FibonacciSpinner">
	<CameronAnderson.Pages.LoadingIcons.Fibonacci />
</LoadingIconCard>
