@inject NavigationManager NavigationManager

<div class="li-card" @onclick="Click">
	@if (IsOnRight)
	{
		<div class="li-title li-title-left">@Title</div>
	}

	<div class="loading-icon">@ChildContent</div>

	@if (!IsOnRight)
	{
		<div class="li-title li-title-right">@Title</div>
	}
</div>

@code {
	[Parameter]
	public string Title { get; set; } = string.Empty;

	[Parameter]
	public string? Link { get; set; }

	[Parameter]
	public bool IsOnRight { get; set; }

	[Parameter]
	public RenderFragment? ChildContent { get; set; }

	public void Click()
	{
		if (string.IsNullOrWhiteSpace(Link)) return;

		NavigationManager.NavigateTo(Link);
	}
}