@page "/Record"

<div class="loading-container">
	<div class="record-container">
		<div class="record">
			<svg width="100%" height="100%" viewBox="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;">
				<g id="Record-and-Highlight" serif:id="Record and Highlight">
					<g id="Record">
						<g transform="matrix(1.2435,0,0,1.2435,-16.4389,-10.3698)">
							<circle cx="53.429" cy="48.548" r="30.156" style="fill:rgb(33,33,33);stroke:black;stroke-width:0.8px;"/>
						</g>
						<g transform="matrix(1.06114,0,0,1.06114,-6.6955,-1.51642)">
							<circle cx="53.429" cy="48.548" r="30.156" style="fill:rgb(33,33,33);stroke:black;stroke-width:0.94px;"/>
						</g>
						<g transform="matrix(0.878753,0,0,0.878753,3.04904,7.33796)">
							<circle cx="53.429" cy="48.548" r="30.156" style="fill:rgb(33,33,33);stroke:black;stroke-width:1.14px;"/>
						</g>
						<g transform="matrix(0.69637,0,0,0.69637,12.7936,16.1923)">
							<circle cx="53.429" cy="48.548" r="30.156" style="fill:rgb(33,33,33);stroke:black;stroke-width:1.44px;"/>
						</g>
						<g transform="matrix(0.580309,0,0,0.580309,18.9946,21.827)">
							<circle cx="53.429" cy="48.548" r="30.156"/>
						</g>
						<g id="Label" transform="matrix(0.414506,0,0,0.414506,27.8533,29.8764)">
							<circle cx="53.429" cy="48.548" r="30.156" style="fill:rgb(0,0,160);"/>
						</g>
						<g transform="matrix(0.165802,0,0,0.165802,41.1413,41.9506)">
							<circle cx="53.429" cy="48.548" r="30.156" style="fill:none;stroke:black;stroke-opacity:0.33;stroke-width:3.02px;"/>
						</g>
						<g id="Spindle" transform="matrix(0.0497407,0,0,0.0497407,47.3424,47.5852)">
							<circle cx="53.429" cy="48.548" r="30.156" style="fill:rgb(188,188,188);"/>
						</g>
					</g>
					<g id="Highlight">
						<g>
							<g id="Left-Wide" serif:id="Left Wide" transform="matrix(-1.70162,5.41269e-18,5.48391e-18,-1.70162,234.602,109.741)">
								<path d="M126.203,21.513C125.015,19.965 123.629,18.579 122.081,17.391L112.972,29.262C113.483,29.654 113.941,30.111 114.333,30.622L126.203,21.513Z" style="fill:white;fill-opacity:0.25;"/>
							</g>
							<g id="Left-Narrow" serif:id="Left Narrow" transform="matrix(-1.70162,5.41269e-18,5.48391e-18,-1.70162,234.602,109.741)">
								<path d="M125.593,20.754C124.757,19.758 123.836,18.837 122.841,18.001L113.223,29.463C113.552,29.739 113.856,30.042 114.131,30.371L125.593,20.754Z" style="fill:white;fill-opacity:0.25;"/>
							</g>
							<g id="Right-Wide" serif:id="Right Wide" transform="matrix(-1.70162,5.41269e-18,5.48391e-18,-1.70162,234.602,109.741)">
								<path d="M90.769,48.703C91.957,50.251 93.343,51.637 94.891,52.825L104,40.955C103.489,40.563 103.032,40.105 102.639,39.594L90.769,48.703Z" style="fill:white;fill-opacity:0.25;"/>
							</g>
							<g id="Right-Narrow" serif:id="Right Narrow" transform="matrix(-1.70162,5.41269e-18,5.48391e-18,-1.70162,234.602,109.741)">
								<path d="M91.379,49.463C92.215,50.458 93.136,51.379 94.132,52.215L103.749,40.753C103.42,40.478 103.116,40.174 102.841,39.845L91.379,49.463Z" style="fill:white;fill-opacity:0.25;"/>
							</g>
						</g>
					</g>
				</g>
				<g id="Arm">
					<path d="M88.5,17C87.893,16.543 87.5,15.817 87.5,15C87.5,13.62 88.62,12.5 90,12.5C91.38,12.5 92.5,13.62 92.5,15C92.5,15.817 92.107,16.543 91.5,17L91.5,75L88.5,75L88.5,17Z" style="fill:rgb(128,128,128);stroke:rgb(33,33,33);stroke-width:0.5px;"/>
					<g id="Cartridge" transform="matrix(1,0,0,1,-3.06422e-14,1.77647)">
						<g transform="matrix(0.0713555,-0.153022,0.0719604,0.0335557,81.4572,91.2364)">
							<rect x="87.302" y="23.517" width="5.923" height="62.973" style="fill:rgb(128,128,128);stroke:rgb(33,33,33);stroke-width:3.79px;"/>
						</g>
						<g transform="matrix(0.744229,0.34704,-0.495078,1.0617,60.8147,-41.9624)">
							<rect x="86.526" y="73.145" width="8.524" height="12.805" style="fill:rgb(128,128,128);stroke:black;stroke-width:0.99px;"/>
						</g>
						<g transform="matrix(0.495662,0.231131,-0.231131,0.495662,66.9207,13.1385)">
							<path d="M83.62,86.813C85.487,86.813 87.002,88.329 87.002,90.196C87.002,92.063 85.487,93.578 83.62,93.578C81.753,93.578 80.237,92.063 80.237,90.196C80.237,88.329 81.753,86.813 83.62,86.813ZM83.62,88.504C84.553,88.504 85.311,89.262 85.311,90.196C85.311,91.129 84.553,91.887 83.62,91.887C82.686,91.887 81.928,91.129 81.928,90.196C81.928,89.262 82.686,88.504 83.62,88.504Z"/>
						</g>
						<g transform="matrix(0.100007,0.0466339,-0.815823,1.74954,157.169,-91.4877)">
							<path d="M89.77,90.029C89.77,89.958 88.755,89.9 87.505,89.9L82.973,89.9C81.723,89.9 80.708,89.958 80.708,90.029L80.708,92.36C80.708,92.432 81.723,92.49 82.973,92.49L87.505,92.49C88.755,92.49 89.77,92.432 89.77,92.36L89.77,90.029Z"/>
						</g>
						<g transform="matrix(0.100007,0.0466339,-0.815823,1.74954,154.904,-92.5442)">
							<path d="M89.77,90.029C89.77,89.958 88.755,89.9 87.505,89.9L82.973,89.9C81.723,89.9 80.708,89.958 80.708,90.029L80.708,92.36C80.708,92.432 81.723,92.49 82.973,92.49L87.505,92.49C88.755,92.49 89.77,92.432 89.77,92.36L89.77,90.029Z"/>
						</g>
					</g>
				</g>
			</svg>
		</div>
	</div>
</div>
