.dump-truck-container {
	position: relative;
	width: 90%;
	height: 90%;
	padding-left: 10%;
	padding-top: 20%;
	overflow: visible;
}

.dump-truck-wheel {
	animation-name: dump-truck-wheel;
	animation-duration: 15s;
	animation-iteration-count: infinite;
	animation-timing-function: ease;
}

.dump-truck-wheel-left {
	transform-origin: 345px 421px;
}

.dump-truck-wheel-right {
	transform-origin: 870px 421px;
}

.dump-truck-bed {
	animation-name: dump-truck-bed;
	animation-duration: 15s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	transform-origin: 600px 450px;
}

.dump-truck-yellow {
	fill: #feb600;
}

.dump-truck-shaddow-1 {
	fill: #e79300;
}

.dump-truck-shaddow-2 {
	fill: #c37000;
}

.dump-truck-glass {
	fill: #3cf;
}

.dump-truck-rail {
	fill: none;
	stroke: #333;
	stroke-miterlimit: 10;
	stroke-width: 8.5px;
}

.dump-truck-tire {
	fill: #333;
}

.circle {
	border-radius: 50%;
}

.boulders {
	position: absolute;
	padding-left: 50px;

	animation-name: boulder-falling;
	animation-duration: 15s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in;
}

.boulders-1{
	animation-delay: -0.1s;
}

.boulders-2{
	animation-delay: 0.25s;
}

.boulder-1 {
	fill: #944c00;
}

.boulder-2 {
	fill: #ab6400;
}

.boulder-3 {
	fill: #7c3100;
}

@keyframes dump-truck-wheel {
	0%		{ transform: rotate(0deg); }
	15%		{ transform: rotate(0deg); }
	50%		{ transform: rotate(720deg); }
	90%		{ transform: rotate(720deg); }
	100%	{ transform: rotate(810deg); }
}

@keyframes dump-truck-bed {
	0%		{ transform: rotate(0deg); }
	50%		{ transform: rotate(0deg); }
	70%		{ transform: rotate(-20deg); }
	80%		{ transform: rotate(-20deg); }
	90%		{ transform: rotate(0deg); }
	100%	{ transform: rotate(0deg); }
}

@keyframes boulder-falling {
	0%		{ transform: translate(0px,-60px); opacity: 0; }
	5%		{ transform: translate(0px,-60px); opacity: 0; }
	7%		{ opacity: 1; }
	10%		{ transform: translate(0px,40px); }
	56%		{ transform: translate(0px,40px); }
	75%		{ opacity: 1; }
	78%		{ opacity: 0; }
	80%		{ transform: translate(-100px,65px); }
	100%	{ opacity: 0; }
}
