@page "/fibonacci"
@using System.Numerics

<h1>Fibonacci Counter</h1>

<p>Current number: @currentNumber</p>

<button class="btn btn-primary" @onclick="GenerateNext">Click me</button>

@code {
	private List<BigInteger> fibonacci = new List<BigInteger> { 0 };
		
	private string currentNumber => fibonacci.Last().ToString("#,0");

	private void GenerateNext()
	{
		var lastTwo = fibonacci.ToArray().Reverse().Take(2);
		var sum = lastTwo.First() + lastTwo.Last();

		if (sum == 0) sum = 1; 

		fibonacci.Add(sum);
	}
}
