@page "/Loading"

<h1>CSS Animated Loading Icons</h1>

<h2>CAT dump truck</h2>
<CameronAnderson.LoadingIcons.DumpTruck />

<h2>Square Ception</h2>
<CameronAnderson.LoadingIcons.SquareCeption />

<h2>Circle Ception</h2>
<CameronAnderson.LoadingIcons.CircleCeption />

<h2>Light Separated Triangle</h2>
<CameronAnderson.LoadingIcons.LightSeparatedTriangle />

<h2>Cirlce Circle</h2>
<CameronAnderson.LoadingIcons.CircleCircle />

<h2>Fibonacci</h2>
<CameronAnderson.LoadingIcons.Fibonacci />
