@page "/RestaurantLevels"
@using CameronAnderson.Restaurants

<h1>Restaurant Levels</h1>

@if (restaurants == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<p>Level 1:  Fast Food (order at front)</p>
	<p>Level 1.5:  Semi-Fast Food</p>
	<p>Level 2:  Mom & Pops / Sports Bars ("sit downs")</p>
	<p>Level 3:  Full Sit Downs (no TVs)</p>
	<p>Level 4:  Fancy (specialty items; focus)</p>
	<br />
	<br />

	<table>
		<tr>
			<th>Restaurant</th>
			<th>Level</th>
		</tr>

		@foreach (var restaurant in restaurants)
		{
			<tr>
				<td>@restaurant.Name</td>
				<td>@restaurant.Level</td>
			</tr>
		}

	</table>

}

@code
{
	private List<CameronAnderson.Restaurants.Restaurant> restaurants { get; set; }

	protected override async Task OnInitializedAsync()
	{
		restaurants = RestaurantInteractor.GetRestaurants();
	}
}
