.body {
	font-family: Arial, Helvetica, sans-serif;
}

.heading {
	text-align: center;
}

.name {
	font-size: 4em;
}

.location {
	font-size: 1.7em;
}

.link {
	display: inline-block;
	vertical-align: middle;
	font-size: 1.7em;
}

.link-separator {
	display: inline-block;
	vertical-align: middle;
	margin-left: 1em;
	margin-right: 1em;
}

.section {
	padding-top: 2em;
	padding-bottom: 4em;
}

.section-heading {
	font-size: 3em;
}

.experience {
	padding-top: 3em;
}

.experience-heading {
	font-size: 2em;
	display: inline-block;
}

.experience-date {
	font-size: 1.75em;
	float: right;
	display: inline-block;
	padding-top: 0.25em;
}

.experience-subheading {
	font-size: 1.5em;
	display: block;
	padding-left: 0.75em;
}

.experience-note {
	padding-top: 0.75em;
}

.notes {
	padding-left: 1.5em;
}

a {
	color: black;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:active {
	text-decoration: underline;
}
