@if (MenuLink != null)
{
	<a class="restaurant-name" href="@MenuLink" target="_blank">
		@Name
	</a>
}
else
{
	<div class="restaurant-name">
		@Name
	</div>
}

@code 
{
	[Parameter]
	public string Name { get; set; } = string.Empty;

	[Parameter]
	public string? MenuLink { get; set; }
}
