.fibonacci-container {
	position: relative;
	overflow: hidden;
}

.fibonacci-group {
	display: inline;
	position: absolute;
}

.fibonacci-1 {
	transform: rotate(0deg);
}

.fibonacci-2 {
	transform: rotate(120deg);
}

.fibonacci-3 {
	transform: rotate(240deg);
}

.fibonacci {
	fill: none;
	fill-rule: nonzero;
	stroke-width: 2px;
	stroke: #ff2770;
	stroke-dasharray: 75;

		animation-name: fibonacci;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	transform-origin: 50% 50%;
}

@keyframes fibonacci {
	45%     {
				//transform: rotate(0);
				stroke-dasharray: 30px;
				stroke-dashoffset: 70px;
				stroke: #50b9da;
			}

	50%     { transform: rotate(720deg); }

	55%     {
				stroke-dasharray: 30px;
				stroke-dashoffset: 70px;
				stroke: #50b9da;
			}

	100%    { transform: rotate(-240deg); }
}

