@page "/LightSeparatedTriangle"

<div class="loading-container">
	<div class="animation-container dark-background">
		<div class="triangle triangle-4"> </div>
		<div class="triangle triangle-3"> </div>
		<div class="triangle triangle-2"> </div>
		<div class="triangle triangle-1"> </div>
	</div>
</div>
