.triangle {
	width: 0;
	height: 0;
	border-top: 67px solid blue;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	position: absolute;
	transform-origin: 50% 100%;
	margin-left: 35px;
	margin-top: 8px;

	animation-name: light-separated-triangle;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

.triangle-1 {
	border-top: 67px solid rgba(255, 255, 255, 1);
	animation-delay: 0s;
}

.triangle-2 {
	border-top: 67px solid rgba(255, 0, 255, 0.4);
	animation-delay: 0.1s;
}

.triangle-3 {
	border-top: 67px solid rgba(255, 255, 0, 0.4);
	animation-delay: 0.15s;
}

.triangle-4 {
	border-top: 67px solid rgba(0, 255, 255, 0.4);
	animation-delay: 0.2s;
}

@keyframes light-separated-triangle {
	0%		{ transform: rotate(0deg); }
	1%		{ transform: rotate(0deg); }
	16%		{ transform: rotate(60deg); }
	18%		{ transform: rotate(60deg); }
	32%		{ transform: rotate(120deg); }
	34%		{ transform: rotate(120deg); }
	49%		{ transform: rotate(180deg); }
	51%		{ transform: rotate(180deg); }
	66%		{ transform: rotate(240deg); }
	68%		{ transform: rotate(240deg); }
	82%		{ transform: rotate(300deg); }
	84%		{ transform: rotate(300deg); }
	99%		{ transform: rotate(360deg); }
	100%	{ transform: rotate(360deg); }
}
