.li-card {
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: auto;
	margin-right: auto;
	padding: 2em;
	border: solid;
	border-color: black;
	border-radius: 25px;
	max-width: 750px;
}

.li-title {
	display: inline-block;
	font-size: 2em;
	vertical-align: middle;
	width: 60%;
	min-width: 300px;
}

.li-title-left {
	text-align: left;
}

.li-title-right {
	text-align: right;
	padding-right: 30px;
}

.loading-icon {
	display: inline-block;
	vertical-align: middle;
	width: 40%;
	min-width: 200px;
}