@page "/Loading"

<h1>CSS Animated Loading Icons</h1>

<LoadingIconCard Title="CAT Dump Truck" Link="DumpTruck">
	<CameronAnderson.LoadingIcons.DumpTruck />
</LoadingIconCard>

<LoadingIconCard Title="Square Ception" Link="SquareCeption" IsOnRight=true>
	<CameronAnderson.LoadingIcons.SquareCeption />
</LoadingIconCard>

<LoadingIconCard Title="Circle Ception" Link="CircleCeption">
	<CameronAnderson.LoadingIcons.CircleCeption />
</LoadingIconCard>

<LoadingIconCard Title="Light Separated Triangle" Link="LightSeparatedTriangle" IsOnRight=true>
	<CameronAnderson.LoadingIcons.LightSeparatedTriangle />
</LoadingIconCard>
 
<LoadingIconCard Title="Circle Circle" Link="CircleCircle">
	<CameronAnderson.LoadingIcons.CircleCircle />
</LoadingIconCard>

<LoadingIconCard Title="Fibonacci" Link="FibonacciSpinner" IsOnRight=true>
	<CameronAnderson.LoadingIcons.Fibonacci />
</LoadingIconCard>
