@page "/SquareCeption"

<div class="loading-container">
	<div class="square-ception-container">
		<div class="square-ception square-ception-layer-8">
			<div class="square-ception square-ception-layer-7">
				<div class="square-ception square-ception-layer-6">
					<div class="square-ception square-ception-layer-5">
						<div class="square-ception square-ception-layer-4">
							<div class="square-ception square-ception-layer-3">
								<div class="square-ception square-ception-layer-2">
									<div class="square-ception square-ception-layer-1">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
