body {
	font-family: helvetica;
	margin-top: 25px;
	margin-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
	max-width: 1000px;
	padding-left: 50px;
	padding-right: 50px;
	float: center;
}

.info {
	text-align: center;
}

.info-name {
	font-size: 3em;

}

.section-header {
	font-size: 2em;
	margin-top: 1.5em;
}

.position {
	margin-top: 1.5em;
}

.position-dates {
	display: inline;
	vertical-align: top;
	font-size: 1.3em; 
	float: right;
	padding-left: 20px;
} 

.position-title {
	display: inline-block;
	font-size: 1.5em;
}

.degree {
	font-size: 1.2em;
}

.position-company {
	font-size: 1.2em;
	margin: .5em;
	margin-left: 1em;
}

.position-text {
	margin: .5em;
	margin-left: 2em;
}

.position-bullets {
	margin-left: 1.5em;
}

.position-bullets li {
	padding: .2em;
}


.education {
	display: inline-block;
	width: 45%;
	padding: 2%;
	margin-top: 0;
	vertical-align: top;
	min-width: 330px;

}

.education .position-company {
	margin-left: 0;
	font-size: 1em;
}

.education .position-text {
	margin-left: 0;
}


a {
	color: black;
	text-decoration: none;
}

a:hover{ 
	text-decoration: underline;
}


.footer-copyright {
	font-size: .8em;
	font-weight: lighter;
	width: 100%;
	text-align: center;
	position: relative;
}


hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


.position hr {
	display: inline-block;
	width: 1.7em;
	margin: .5em;
	border-top: 1px solid #999;
}