.column-0 {
	display: none;
}

.column-1 {
	display: none;
}

.column-2 {
	display: none;
}

.column-4 {
	display: none;
}

.column-5 {
	display: none;
}

.column-6 {
	display: none;
}

.column-7 {
	display: none;
}

.column-8 {
	display: none;
}

.column-9 {
	display: none;
}

.column-10 {
	display: none;
}

.column-12 {
	display: none;
}

.column-13 {
	display: none;
}

.column-14 {
	display: none;
}

.column-15 {
	display: none;
}

.column-16 {
	display: none;
}

.column-18 {
	display: none;
}

.column-19 {
	display: none;
}

.column-20 {
	display: none;
}

.column-21 {
	display: none;
}

.column-22 {
	display: none;
}

.column-23 {
	display: none;
}

.column-24 {
	display: none;
}

.column-25 {
	display: none;
}

.column-26 {
	display: none;
}

.column-27 {
	display: none;
}

.column-28 {
	display: none;
}

.column-30 {
	display: none;
}

.column-31 {
	display: none;
}

.column-33 {
	display: none;
}

.column-36 {
	display: none;
}

.column-37 {
	display: none;
}

.column-38 {
	display: none;
}

.column-39 {
	display: none;
}

.column-40 {
	display: none;
}

.column-42 {
	display: none;
}

.column-43 {
	display: none;
}

.column-44 {
	display: none;
}

.column-45 {
	display: none;
}

.column-46 {
	display: none;
}

.column-47 {
	display: none;
}

.column-48 {
	display: none;
}

.column-49 {
	display: none;
}

.column-51 {
	display: none;
}

.column-52 {
	display: none;
}

.column-53 {
	display: none;
}

.column-54 {
	display: none;
}

.column-56 {
	display: none;
}

.column-57 {
	display: none;
}

.column-59 {
	display: none;
}

.column-60 {
	display: none;
}

.column-61 {
	display: none;
}

.column-62 {
	display: none;
}

.column-63 {
	display: none;
}

.column-65 {
	display: none;
}

.column-66 {
	display: none;
}

.column-67 {
	display: none;
}

.column-68 {
	display: none;
}
